img { 
    max-width: 60vh;
  max-height: 80vh;
    width: auto;
    height: auto;
}
     html, body { height: 100%; width: 100%; margin: 0; background-color: black;  }
div { justify-content: center; display: flex; align-items: center; height: 100%;}
